/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

/* Reset margin and smoothing */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code font fallback */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Global fonts & background */
html,
body {
  font-family: "Unbounded", sans-serif;
  background: transparent;
  overflow-x: hidden;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

